# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
Thesis.ipynb
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Environments & Virtual Envs
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# IDE & Editors
.vscode/
.idea/
*.swp
*.swo

# Project Data & Artifacts (Keep directory structures, ignore large files)
data/raw/*
!data/raw/.gitkeep
data/processed/*
!data/processed/.gitkeep
outputs/checkpoints/*
!outputs/checkpoints/.gitkeep
outputs/eval/*
!outputs/eval/.gitkeep
outputs/*.log

# Specific large files
*.hdf5
*.h5
*.zip
*.tar.gz
*.pt
*.pth

# Operating System
.DS_Store
Thumbs.db
desktop.ini
